.wrapper {
    background: linear-gradient(to bottom left, #0ff, #00f);
    min-height: 100vh;
  }

  .wrapper.night {
      background: linear-gradient(to right, #000428, #004e92);;
  }

.App {
    margin: 2em auto;
    width: 40vw;
    min-width: 400px;
    padding: 2em;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background: #fff;
    overflow: hidden;
}

.App > p, .App > h1 {
    text-align: center;
}

.night {
    background: #151515;
    color: #53B8BB;
}


.night a {
    color: #fc6868;
}

